#page
{
  
}
#menu
{
    background-color: gray;
}
#tapis
{
    height: 600px;
      background-image: url(images/tapis.jpg);
    
}
#haut_tapis
{
    height: 100px;
}
.carte
{
   text-align: center;
}
.bouton
{
    padding-top: 50px;
    text-align: center;
}
#dist1
{
    padding-top: 50px;
}
#dist2
{
    padding-top: 75px;
}
#resultat
{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: rgba(220,255,164,0.8);
    top: 150px;
    color: rgb(34,13,255);
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
}
button:focus
{
    outline: 0 !important;
}
    
/*bouton rond*/

.btn-circle.btn-xl {

  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 75px;
}