body
{
    background-color: #FFB2A3;
    font-family: 'Ubuntu', sans-serif;
}
#page
{
    float: left;
    width: 1200px;	
    margin: auto;
    padding: 10px;
    background-color: #DDC9FF;
}
#page_drop
{
    margin: auto;    
    height: 600px;
    border: 1px solid black;
}
#principal
{
    margin-top: 30px;
}
.cardre
{
    border: 1px solid black;
    border-radius:  10px;
    padding: 10px;
}
#blockBouton 
{
    margin: 15px;	    
}
.colonne
{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
ul
{
  list-style-type: none;
}
.column
{
     border: 1px dashed black;
    min-height: 80px;
}
.ligne
{
    margin-top: 2px;
}
.htmlElt
{
    border: 1px solid #72777E;
    background-color: #72777E;
    height: 30px;
    width: 30px;
    margin: 10px;
    text-align: center;
}