#page
{
    width: 1000px;	
    margin: auto;

}
#page_drop
{
    margin: auto;
    width: 800px;
    height: 600px;
    border: 1px solid black;
}
.test
{
    position: relative;
}
.cardre
{
    border: 1px solid black;
    border-radius:  10px;
    padding: 10px;
}
