html
{
   /* background-color: #67FF8E;    */
}
#page
{
    font-family: 'Ubuntu', sans-serif;
}
#menu
{
    background-color: gray;
}
#nom
{
    color: white;
}
#jeton
{
    font-size: 16px;
    font-weight: 400; 
    text-align: center;
    background-color: aliceblue;
    margin: 5px;
}
#tapis
{
    height: 600px;
    background-image: url(../images/tapis.jpg);

}
#haut_tapis
{
    height: 100px;
}
.carte
{
    text-align: center;
}
.bouton
{
    padding-top: 50px;
    text-align: center;
}
#dist1
{
    padding-top: 50px;
}

#resultat
{
    border: 1px solid black;
    position: absolute;
    /*height: 100px;*/
    width: 100%;
    background-color: rgba(220,255,164,0.8);
    font-size: 70px;
    top: 150px;
    color: rgb(34,13,255);
    text-align: center;
}
#gain
{
    font-size: 16px;  
    padding-top: -20px;
}
#mainGagnante
{
    text-transform: uppercase;

}
button:focus
{
    outline: 0 !important;
}

/*bouton rond*/

.btn-circle.btn-xl {

    width: 150px;
    height: 150px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 75px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 15px;  
}
#montant
{
    font-size: 50px;
    color: white;
    text-align: right;
}
#plusMoins
{
    display: flex;
    flex-direction: column;
    float: right;
}
#moins
{
    margin-top: 5px;
}
#plus, #moins
{
    font-size: 20px; 
    color: white;
}
#pari
{
    margin-top: 85px;
    /*border: 1px solid black;*/
}