#menu
{
    background-color: gray;
}
#tapis
{
    height: 600px;
      background-image: url(images/tapis.jpg);
    
}
#haut_tapis
{
    height: 100px;
}
.carte
{
   text-align: center;
}
.bouton
{
    padding-top: 50px;
    text-align: center;
}
#dist1
{
    padding-top: 50px;
}
#dist2
{
    padding-top: 75px;
}
